@font-face {
    font-family: my-pinar;
    font-weight: 400;
    src: url("fonts/pinar/pinar-400.woff2") format("woff2");
}
@font-face {
    font-family: my-pinar;
    font-weight: 700;
    src: url("fonts/pinar/pinar-700.woff2") format("woff2");
}
@font-face {
    font-family: my-iran-yekan;
    font-weight: normal;
    src: url("fonts/iranyekan/woff2/iranyekanwebregular.woff2") format("woff2"),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
    url("fonts/iranyekan/eot/iranyekanwebregular.eot")
    format("embedded-opentype"),
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype");
}
@font-face {
    font-family: my-iran-yekan;
    font-weight: bold;
    src: url("fonts/iranyekan/eot/iranyekanwebbold.eot")
    format("embedded-opentype"),
    url("fonts/iranyekan/woff/iranyekanwebbold.woff") format("woff"),
    url("fonts/iranyekan/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("fonts/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype");
}
@keyframes main-bg {

}
:root{
    --primary-color:#cb79e1;
    --secondaryColor: rgba(119, 87, 183, 0.78);
}
*{
    box-sizing: border-box;
    font-family:my-iran-yekan,my-pinar,sans-serif;
    direction: rtl;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width:80%;
    min-height: 300px;
    border: 1px solid red;
    margin: 0 auto;
}
#main-section{
    width: 100%;
    height:100vh;
    background: url("../images/main_bg.jpg") center/cover no-repeat;

}
#top-header,#top-header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-header__nav{
    align-items: flex-start; /*because of the padding you gave to li's link, align-items:center; doesnt suit here*/
}
#top-header__logo img{
    width: 200px;
}
#top-header__logo:hover img{
    opacity: 0.8;
}
#top-header ul{
    list-style-type: none;
    display:flex;
    gap: 2.5em;
    margin: 0;
}
#top-header ul a:link, #top-header ul a:visited{
    color: white;
    display:inline-block;
    overflow:hidden;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 0.4em; /* distance between a and its ::after*/
}
#top-header ul a:hover{
    color:var(--secondaryColor);
}
#top-header ul a::after{
    content: "";
    display:block;
    width: 0;
    height: .2em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--secondaryColor);
    transition: all 400ms;
}
#top-header ul li:hover a::after{
    width: 100%;
}
#top-header__menu-icon:link, #top-header__menu-icon:visited{
    width: 22px;
    margin-right: 2.5em;
}
#top-header__menu-icon hr{
margin: 0 0 3px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}