@font-face {
    font-family: my-pinar;
    font-weight: 400;
    src: url("fonts/pinar/pinar-400.woff2") format("woff2");
}
@font-face {
    font-family: my-pinar;
    font-weight: 700;
    src: url("fonts/pinar/pinar-700.woff2") format("woff2");
}
@font-face {
    font-family: my-iran-yekan;
    font-weight: normal;
    src: url("fonts/iranyekan/woff2/iranyekanwebregular.woff2") format("woff2"),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
    url("fonts/iranyekan/eot/iranyekanwebregular.eot")
    format("embedded-opentype"),
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype");
}
@font-face {
    font-family: my-iran-yekan;
    font-weight: bold;
    src: url("fonts/iranyekan/eot/iranyekanwebbold.eot")
    format("embedded-opentype"),
    url("fonts/iranyekan/woff/iranyekanwebbold.woff") format("woff"),
    url("fonts/iranyekan/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("fonts/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype");
}
@keyframes zoomin {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.06);
    }
}
:root{

    --primary-color: rgba(119, 87, 183, 0.78);
    --secondary-color:#cb79e1;
    --subtitle-color: #727070;
    --section-title-decoration: rgba(78, 18, 147, 0.78);
    --primary-font: my-iran-yekan;
    --secondary-font: my-pinar;
    --section-padding:6em 0;
    --bg-boxshadow: 0 0 200px 500px rgba(0, 0, 0, 0.78) inset;
}
*{
    box-sizing: border-box;
    font-family:var(--primary-font),var(--secondary-font),sans-serif;
    direction: rtl;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width:80%;
    min-height: 300px;
    margin: 0 auto;
}
.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
    margin: 0 auto 1.1em;
    font-size: 2.4rem;
    font-family: var(--secondary-font), var(--primary-font), sans-serif;
    position: relative;
}
.section-title::before,.section-title::after{
    content: "";
    display: block;
    background-color: var(--section-title-decoration);
    position: absolute;
    height: 4px;
}
.section-title::before{
    width:100px;
    bottom: -10px;
}
.section-title::after{
    width: 40px;
    bottom: -20px;
}
.section-subtitle{
    text-align: center;
    color:var(--subtitle-color  );
    margin-bottom: 2em;
}
#main-section{
    width: 100%;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;/*overflow:visible; causes scroll because of the bg animation(scale)*/
}
#main-section__bg{
    width: 100%;
    height:100vh;
    position:fixed; /*bg-attachment:fixed; doesnt work here because of the scale animation*/
    top: 0;
    left: 0;
    z-index: -1000;
    background:black url("../images/main_bg.jpg") center/cover no-repeat;
    animation: zoomin 4s alternate infinite;
}
#top-header,#top-header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-header__nav{
    align-items: flex-start; /*because of the padding you gave to li's link, align-items:center; doesnt suit here*/
}
#top-header__logo img{
    width: 200px;
}
#top-header__logo:hover img{
    opacity: 0.8;
}
#top-header ul{
    list-style-type: none;
    display:flex;
    gap: 2.5em;
    margin: 0;
}
#top-header ul a:link, #top-header ul a:visited{
    color: rgba(255, 255, 255, 0.87);
    display:inline-block;
    overflow:hidden;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 0.4em; /* distance between link and its ::after*/
    transition: all 200ms ease-in-out;
}
#top-header ul a:hover{
    color:var(--primary-color);
}
#top-header ul a::after{
    content: "";
    display:block;
    width: 0;
    height: .2em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    transition: all 400ms;
}
#top-header ul li:hover a::after{
    width: 100%;
}
#top-header__menu-icon:link, #top-header__menu-icon:visited{
    width: 22px;
    margin-right: 2.5em;
}
#top-header__menu-icon hr{
    margin: 0 0 3px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}
#main-section__title,#main-section__subtitle1,#main-section__subtitle2{
    text-align: center;
    color: white;
}
#main-section__subtitle1{
    margin-top: 5.5em;
    font-size: 1.7rem;
}
#main-section__title, #different-color{
    font-family: var(--secondary-font),var(--primary-font),sans-serif;
    font-size: 3.5rem;
}
#different-color{
    color: var(--primary-color);
}
#main-section__subtitle2{
    color: var(--subtitle-color);
    margin-bottom: 4em;
}
#main-section__form{
    width: 50%;
    height: 55px;
    background-color: rgba(128, 128, 128, 0.38);
    margin:0 auto;
  display: flex;
    align-items: stretch;
    padding: .4em;
    border-radius: 10px;
}
#search-input{
    display: inline-block;
    width:calc(100% - 50px);
    border: none;
    background-color: transparent;
    padding-right:1em;
    color: #b4b2b2;
}
#search-input:focus{
    outline: none;
}
#search-input::placeholder{
    color: rgba(255, 255, 255, 0.38);
    font-size: 1.1rem;
}
#search-btn{
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: .5em 1.3em;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 200ms ease-in-out;
}
#search-btn:hover{
    background-color: var(--secondary-color);
}
#services{
    background-color: white;
    padding: var(--section-padding);
}
#service-wrapper{
    display: flex;
   gap: 2em;
}
.service-item{
    padding: 1em 1.5em;
    line-height: 2;
    box-shadow: 0 0 10px 10px whitesmoke;
    border-radius: 15px 15px 40px 15px;
    text-align: center;
}
.service-item .icon-wrapper{
    width: 70px;
    height: 80px;
    margin: 0 auto;
    border-radius:5px 20px 60px ;
    background-color: rgba(206, 206, 206, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--primary-color);
}
.service-item:hover .icon-wrapper{
    background-color: white;
    transform: rotateY(180deg);
}
.service-item p{
    color: gray;
}
.more-info__link:link, .more-info__link:visited{
    position: relative;
    text-decoration: none;
    color: var(--primary-color);

}
.more-info__link,.more-info__link::before,.more-info__link::after{
    transition: all 200ms ease-in-out;
}
.more-info__link:hover,.more-info__link:hover::before,.more-info__link:hover::after{
opacity: .85;
}
.more-info__link::before{
    content: "";
    display: inline-block;
    background-color: var(--primary-color);
    width: 15px;
    height: 2px;
    margin-left: .3em;
}
.more-info__link::after{
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 7px;
    height: 7px;
    border: solid var(--primary-color);
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}
/*hover on service-item*/
.service-item,.service-item p,.icon-wrapper,.more-info__link,.more-info__link::after, .more-info__link::before{
    transition: all 200ms ease-in-out;
}
.service-item:hover{
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-10px);
}
.service-item:hover p,.service-item:hover .more-info__link {
    color: white;
}
.service-item:hover .more-info__link::before{
    background-color: white;
}
.service-item:hover .more-info__link::after{
    border-color: white;
}
#statics{
    width: 100%;
    padding: 7em 0 4em;
    background: url("../images/bg3.jpg") center/cover no-repeat fixed;
    box-shadow: var(--bg-boxshadow) ;
}
#static-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.static-item{
    flex-basis: 25%;
    display: flex;
    row-gap: .2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.static-item i{
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: .7em;
}
.static-num{
    font-size: 4.6rem;
    color:white;
    font-family: var(--secondary-font),var(--primary-font),sans-serif;
    font-weight: 700;
}
.static-item p{
    color: white;
    font-size: 1.2rem;
}
#costumers{
    padding: var(--section-padding);
    background-color: white;
}
#costumer-wrapper{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.costumer-item{
    flex-basis: 45%;
    min-height: 300px;
    box-shadow: 0 0 10px 10px whitesmoke;
    padding:  1.5em;
}
.costumer-item__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.quote-img{
    width: 90px;
}
.profile-info-wrapper{
    display: flex;
    align-items: center;
    gap: .8em;
    margin-top: 1em;
}
.profile-pic{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid;
    border-color: var(--primary-color) var(--primary-color) rgba(224, 224, 224, 0.89) rgba(224, 224, 224, 0.89);
}
.profile-info{
    display: flex;
    flex-direction: column;
    row-gap: .8em;
}
.profile-info h3,.profile-info h4{
    margin: 0;
}
.profile-info h4{
    color: var(--subtitle-color);
    font-size: .9rem;
}
.stars{
    display: flex;
    column-gap: .2em;
    font-size: 1.2rem;
    color: #f6d054;
}
.costumer-item p{
    text-align: justify;
    color:var(--subtitle-color);
    line-height: 2;
}
#costumers ul{
    padding: 0;
    margin: 1.7em auto 0;
    display: flex;
    gap: .5em;
    justify-content: center;
    font-size: 1.3rem;
    list-style-type: none;
    color: rgba(152, 151, 151, 0.41);
}
#costumers ul .active{
    color: var(--primary-color);
}
