@font-face {
    font-family: my-pinar;
    font-weight: 400;
    src: url("fonts/pinar/pinar-400.woff2") format("woff2");
}
@font-face {
    font-family: my-pinar;
    font-weight: 700;
    src: url("fonts/pinar/pinar-700.woff2") format("woff2");
}
@font-face {
    font-family: my-iran-yekan;
    font-weight: normal;
    src: url("fonts/iranyekan/woff2/iranyekanwebregular.woff2") format("woff2"),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
    url("fonts/iranyekan/eot/iranyekanwebregular.eot")
    format("embedded-opentype"),
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype");
}
@font-face {
    font-family: my-iran-yekan;
    font-weight: bold;
    src: url("fonts/iranyekan/eot/iranyekanwebbold.eot")
    format("embedded-opentype"),
    url("fonts/iranyekan/woff/iranyekanwebbold.woff") format("woff"),
    url("fonts/iranyekan/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("fonts/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype");
}
@keyframes zoomin {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.06);
    }
}
:root{

    --primary-color: rgba(119, 87, 183, 0.78);
    --secondary-color:#cb79e1;
    --subtitle-color: #606060;
    --section-title-decoration: rgba(78, 18, 147, 0.78);
    --primary-font: my-iran-yekan;
    --secondary-font: my-pinar;
    --section-padding:6em 0;
}
*{
    box-sizing: border-box;
    font-family:var(--primary-font),var(--secondary-font),sans-serif;
    direction: rtl;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width:80%;
    min-height: 300px;
    margin: 0 auto;
}
.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
    margin: 0 auto 1.1em;
    font-size: 2.4rem;
    font-family: var(--secondary-font), var(--primary-font), sans-serif;
    position: relative;
}
.section-title::before,.section-title::after{
    content: "";
    display: block;
    background-color: var(--section-title-decoration);
    position: absolute;
    height: 4px;
}
.section-title::before{
    width:100px;
    bottom: -10px;
}
.section-title::after{
    width: 40px;
    bottom: -20px;
}
.section-subtitle{
    text-align: center;
    color:var(--subtitle-color  );
}
#main-section{
    width: 100%;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;/*overflow:visible; causes scroll because of the bg animation(scale)*/
}
#main-section__bg{
    width: 100%;
    height:100vh;
    position: fixed; /*bg-attachment:fixed; doesnt work here because of the scale animation*/
    top: 0;
    left: 0;
    z-index: -1000;
    background:black url("../images/main_bg.jpg") center/cover no-repeat;
    animation: zoomin 4s alternate infinite;
}
#top-header,#top-header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-header__nav{
    align-items: flex-start; /*because of the padding you gave to li's link, align-items:center; doesnt suit here*/
}
#top-header__logo img{
    width: 200px;
}
#top-header__logo:hover img{
    opacity: 0.8;
}
#top-header ul{
    list-style-type: none;
    display:flex;
    gap: 2.5em;
    margin: 0;
}
#top-header ul a:link, #top-header ul a:visited{
    color: rgba(255, 255, 255, 0.87);
    display:inline-block;
    overflow:hidden;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 0.4em; /* distance between link and its ::after*/
}
#top-header ul a:hover{
    color:var(--primary-color);
}
#top-header ul a::after{
    content: "";
    display:block;
    width: 0;
    height: .2em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    transition: all 400ms;
}
#top-header ul li:hover a::after{
    width: 100%;
}
#top-header__menu-icon:link, #top-header__menu-icon:visited{
    width: 22px;
    margin-right: 2.5em;
}
#top-header__menu-icon hr{
margin: 0 0 3px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}
#main-section__title,#main-section__subtitle1,#main-section__subtitle2{
    text-align: center;
    color: white;
}
#main-section__subtitle1{
    margin-top: 5.5em;
font-size: 1.7rem;
}
#main-section__title, #different-color{
font-family: var(--secondary-font),var(--primary-font),sans-serif;
    font-size: 3.5rem;
}
#different-color{
    color: var(--primary-color);
}
#main-section__subtitle2{
    color: var(--subtitle-color);
    margin-bottom: 4em;
}
#main-section__form{
    width: 50%;
    height: 55px;
    background-color: rgba(128, 128, 128, 0.38);
    margin:0 auto;
  display: flex;
    align-items: stretch;
    padding: .4em;
    border-radius: 10px;
}
#search-input{
    display: inline-block;
width:calc(100% - 50px);
    border: none;
    background-color: transparent;
    padding-right:1em;
    color: #b4b2b2;
}
#search-input:focus{
    outline: none;
}
#search-input::placeholder{
    color: rgba(255, 255, 255, 0.38);
    font-size: 1.1rem;
}
#search-btn{
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: .5em 1.3em;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 200ms ease-in-out;
}
#search-btn:hover{
    background-color: var(--secondary-color);
}
#services{
    min-height: 700px;
    background-color: white;
    padding: var(--section-padding);
}
